.pagination_container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.page_classname {
  opacity: 50;
}

.page_classname:hover {
  opacity: 100;
}

.page_link_classname {
  text-transform: capitalize;
  color: #404b52;
}
