.layout {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .layout {
    flex-direction: row;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.outletWrapper {
  width: 100%;
  padding: 40px 40px;
}
