.sidebarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding-right: 28px;
  padding-left: 28px;
  padding-top: 36px;
  padding-bottom: 76px;
}

.sidebarLogo_wrapper {
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.sidebarList {
  max-width: 306px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sidebarList_link {
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  color: #9197b3;
  border-radius: 8px;
  padding: 12px;
}

.sidebarList_link {
  transition: background-color 150ms linear, color 150ms linear;
}

.sidebar_icon {
  transition: filter 150ms linear;
}

.sidebarList_link:hover {
  background-color: #5932ea;
  color: #ffff;
}

.sidebarList_link:hover .sidebar_icon {
  filter: brightness(0) invert(1);
}

.sidebarList_link_active {
  background-color: #5932ea;
  color: #ffff;
}

.sidebarLink_item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon_active,
.svg_active {
  transition: filter 150ms linear;
}

.icon_active,
.svg_active {
  filter: brightness(0) invert(1);
}

.avatar_wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.avatar_desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.avatar_name {
  font-size: 14px;
}

.avatar_title {
  font-size: 12px;
  color: #757575;
}
