.search_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f9f9ff;
  border-radius: 10px;
}

.search_icon {
  position: absolute;
  left: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.search_input {
  width: 216px;
  height: 38px;
  padding: 10px 10px 10px 40px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  background-color: transparent;
}

.search_input::placeholder {
  color: #b5b7c0;
}
