.table_wrapper {
  max-width: 968px;
  width: 100%;
  border-radius: 30px;
  background: #ffffff;
  padding: 40px 37px;
}

.table_title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table_title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
}

.table_label {
  color: #16c098;
  font-size: 14px;
}

.table_list {
  width: 100%;
}

.table_list_header,
.table_list_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eaeaea;
}

.table_list .status {
  display: block;
  width: 80px;
  text-align: center;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.table_list .status.active {
  background-color: rgba(22, 192, 152, 0.38);
  color: #008767;
  border: 1px solid #00b087;
}

.table_list .status.inactive {
  background-color: #ffc5c5;
  color: #df0404;
  border: 1px solid #df0404;
}

.table_list_header_item,
.table_list_item {
  flex: 1;
  font-size: 14px;
  font-weight: 500;
}

.table_list_header_item {
  color: #b5b7c0;
}

.table_list_item {
  color: #292d32;
}

.table_list_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.table_bottom_entries {
  font-size: 14px;
  font-weight: 500;
  color: #b5b7c0;
}

.table_list_email {
  min-width: 170px;
}
