.table_wrapper {
  max-width: 968px;
  width: 100%;
  border-radius: 30px;
  background: #ffffff;
  padding: 20px;
}

@media only screen and (min-width: 1024px) {
  .table_wrapper {
    padding: 40px 37px;
  }
}

.table_title_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
  .table_title_wrapper {
    flex-direction: row;
    align-items: center;
  }
}

.table_title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
}

.table_label {
  color: #16c098;
  font-size: 14px;
}

.table_list {
  width: 100%;
  text-align: left;
}

@media only screen and (max-width: 1024px) {
  .table_list_body {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.table_list_header,
.table_list_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eaeaea;
}

@media only screen and (max-width: 1023px) {
  .table_list_header {
    display: none;
  }
}

.table_list .status {
  display: block;
  width: 80px;
  text-align: center;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.table_list .status.active {
  background-color: rgba(22, 192, 152, 0.38);
  color: #008767;
  border: 1px solid #00b087;
}

.table_list .status.inactive {
  background-color: #ffc5c5;
  color: #df0404;
  border: 1px solid #df0404;
}

.table_list_header_item,
.table_list_item {
  font-size: 14px;
  font-weight: 500;
}

@media only screen and (min-width: 1024px) {
  .table_list_item {
    flex: 1;
  }
}

.table_list_header_item {
  flex: 1;
  color: #b5b7c0;
}

.table_list_item {
  color: #292d32;
}

.table_list_bottom {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
@media only screen and (min-width: 1024px) {
  .table_list_bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}

.table_bottom_entries {
  font-size: 14px;
  font-weight: 500;
  color: #b5b7c0;
}

.table_list_email {
  min-width: 170px;
}

@media only screen and (min-width: 1024px) {
  .table_list_email {
    margin-left: 8px;
  }
}

.mobile_table_list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  border: 1px #b5b7c0 solid;
  border-radius: 12px;
  padding: 8px 12px;
}

.mobile_table_list_item_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
